<% include head.ejs%>

    <div class="col-sm-6 col-sm-offset-3">

        <h1></span> DiscBoard</h1>

        <% if (message.length) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <a class="btn btn-primary btn-lg btn-block" href="/auth/discord" role="button" /><span class="fa fa-sign-in"></span> Login with Discord</a>

    </div>

<% include foot.ejs%>